data/*
output/*
configs/*
literatures/**/*.pdf
literatures/**/tmp/

# Ignore configuration directories anywhere below tools.
# /tools/**/configs/
/tools/**/outputs/

functions/fcal_related/split_sequence_image_frames_demo/*
*.asv
*.mp4
